{% extends "layout.html"%}

{% block container1 %}

<section class="bg-neutral-primary">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-12">

    <div class="flex flex-col items-center justify-center gap-6 mt-8">

      <h1 class="text-2xl font-semibold text-body mb-4">Bienvenido al sistema de gestión escolar</h1>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 w-full max-w-lg">

        <br>
        <br>

        <a href="AlumnosIndex"
          class="flex flex-col items-center justify-center gap-3 p-8
                bg-blue-600 rounded-base
                hover:bg-blue-700 hover:border-blue-700 hover:shadow-md transition-all duration-200 group">
          <span class="text-white font-medium text-base">Alumnos</span>
          <span class="text-white text-center">Gestionar alumnos</span>
        </a>

        <br>
        <br>

        <a href="MaestrosIndex"
          class="flex flex-col items-center justify-center gap-3 p-8
                bg-blue-600 rounded-base
                hover:bg-blue-700 hover:border-blue-700 hover:shadow-md transition-all duration-200 group">
          <span class="text-white font-medium text-base">Maestros</span>
          <span class="text-white text-center">Gestionar maestros</span>
        </a>

        <br>
        <br>

        <a href="CursosIndex"
          class="flex flex-col items-center justify-center gap-3 p-8
                bg-blue-600 rounded-base
                hover:bg-blue-700 hover:border-blue-700 hover:shadow-md transition-all duration-200 group">
          <span class="text-white font-medium text-base">Cursos</span>
          <span class="text-white text-center">Gestionar cursos</span>
        </a>

      </div>
    </div>

  </div>
</section>

{% endblock container1 %}